.signUp {
    list-style: none;
}

.signUpInfo {
    font-size: large;
    font-weight: bolder;
    color: blue;
}

.all {
    list-style-type: none;
    text-align: center;
    padding-left: 100px;
}